.App {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
}

.App .row{
  display: flex;
  align-items: center;
}

  .App .row .row_heading{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
  .App .row .row_heading small{
 font-size: 1rem;
}
.App .row .navList{
  display: flex;
  align-items: center;
  gap: 1rem;
}

@media screen and (max-width: 768px) {
  .App .row{
    flex-direction: column;
    gap: 1rem;
  }
  .App .row .row_heading{
text-align: center;
}

}
